body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('Login_bg_img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 730px;
    margin: 0;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #0056b3;
}